.select {
    position: relative;
    width: 200px;
}

.select button {
    border: none;
    background-color: transparent;
}

.select span {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    text-align: center;

}

.arrowUp {
    transform: rotate(-180deg);
}

.control {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 8px 12px;
    cursor: pointer;
}

.control img:first-of-type {
    width: 32px;
    height: 32px;
    border-radius: 24px;

}

.menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 10;
}

.option {
    padding: 8px 12px;
    cursor: pointer;
    display: flex;
    gap: 12px;
    align-items: center;
}

.option img{
    width: 32px;
    height: 32px;
    border-radius: 24px;
}

.option:hover {
    background: #f0f0f0;
}

.active {
    font-weight: 600;
}
