.tasks {
    margin-left: 248px;
    padding-top: 75.5px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgba(228, 228, 228, 1);
}

.tasks__display {
    display: flex;
    align-items: center;
}

.tasks__display h1 {
    font-size: 24px;
    line-height: 120%;
    padding: 20.1px 36px 20.1px 28px;
}


.display__type {
    display: flex;
    gap: 8px;
    padding: 24px 16px;
    font-size: 14px;
    cursor: pointer;
    border-bottom: 1px solid white;
}


.display__type:hover, .display__type:hover svg path {
    border-bottom: 1px solid black;
    stroke: black;
}

.tasks__right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.tasks__right button {
    height: 37px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.tasks__right button:last-of-type {
    background-color: black;
    color: white;
    margin-right: 32px;
}

.tasks__right button:hover svg path{
    stroke: black;
}

.vertical_line {
    height: 34px;
    padding-left: 1px;
    background-color: rgba(228, 228, 228, 1);
}

.tasks__hr {
    z-index: -1;
}