.card {
    background: #fff;
    border-radius: 14px;
    padding: 20px;
    border: 1px solid #f1f1f1;
}

.title {
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 16px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.time {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 6px;
    border-radius: 4px;
    width: fit-content;
}

.orange { background: #fff3e6; color: #ff9800; }
.blue   { background: #e3f2fd; color: #2196f3; }
.purple { background: #f3e5f5; color: #9c27b0; }

.itemTitle {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 145%;
}

.description {
    font-size: 12px;
    line-height: 145%;
    color: #727272;
    margin-bottom: 4px;
}
