.card {
    background: #fff;
    border: 1px solid rgba(230, 230, 230, 1);
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* обязательно */
}

.header__inner h2   {
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 16px;

}


.totalWrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.totalWrapper h1 {
    font-size: 32px;
    line-height: 120%;
}

.growthBadge {
    background: rgba(0, 200, 0, 0.12);
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 600;
    color: #009e00;
}

.periodLabel {
    margin-top: 8px;
    font-size: 14px;
    line-height: 150%;
    color: #727272;
}




.rangeBtn,
.periodBtn {
    padding: 8px 14px;
    border: 1px solid #000;
    border-radius: 8px;
    background: white;
    font-size: 14px;
    cursor: pointer;
}

.chartWrapper {
    width: 100%;
    height: 100%;
}


.filters {
    display: flex;
    gap: 12px;
    align-items: center;
}

.select {
    height: 36px;                 /* фиксированная высота */
    padding: 0 36px 0 12px;       /* справа место под стрелку */
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l4 4 4-4' stroke='%23000' stroke-width='1.5' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 10px;
}

.select:hover {
    border-color: #000;
}