.card {
    background: #fff;
    border: 1px solid rgba(230, 230, 230, 1);
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header__inner h2   {
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 16px;

}


.totalWrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.totalWrapper h1 {
    font-size: 32px;
    line-height: 120%;
}

.growthBadge {
    background: rgba(0, 200, 0, 0.12);
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 600;
    color: #009e00;
}

.periodLabel {
    margin-top: 8px;
    font-size: 14px;
    line-height: 150%;
    color: #727272;
}

.filters {
    display: flex;
    gap: 16px;
}



.rangeBtn,
.periodBtn {
    padding: 8px 14px;
    border: 1px solid #000;
    border-radius: 8px;
    background: white;
    font-size: 14px;
    cursor: pointer;
}

.chartWrapper {
    width: 100%;
    height: 100%;
}