.card {
    padding: 20px 20px 34px 20px;
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
}

.title {
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 17px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.index {
    width: 24px;
    font-size: 14px;
    color: #444;
}

.company {
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 1;
}

.logo {
    width: 22px;
    height: 24px;
}

.name {
    font-size: 14px;
    font-weight: 500;
}

.trendUp,
.trendDown {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
}

.trendUp {
    background: rgba(0, 200, 0, 0.12);
    color: #009e00;
}

.trendDown {
    background: rgba(255, 0, 0, 0.12);
    color: #d20000;
}

.arrow {
    font-size: 14px;
}

.change {
    font-size: 14px;
}