



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgba(114, 114, 114, 1);
    transition: all 0.4s ease;
}


hr {
    background-color: rgba(228, 228, 228, 1);
    height: 2px;
    border: none;
}

body span,
body strong,
body p,
body h1,
body h2,
body h3, body button {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}